html, body 
{
    height: 100%;
}
.attribution 
{
    position: fixed;
    bottom:0;
}
body 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(273, 75%, 66%);
}
.container 
{
    width:70%;
    height:70%;
    background-color: white;
    display: flex;
    padding-right: 3em;
    padding-bottom: 2em;
}
.contentContainer 
{
    margin-bottom: 0.8em;
}
.right-side
{
    display: grid;
    width:50%;
}

.left-side
{
    width:50%;
    position: relative;
}
h2 
{
    font-family: 'Kumbh Sans', sans-serif;
}
h4,p
{
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
}
p 
{
    font-size: 0.7rem;
    margin-top: 0.5em;
}
h4
{
    font-size: 0.8rem;
    font-weight: 300;
}
